n8n-workflow.json
{
  "name": "Signal Tracker V3b",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "name": "Signal Generation 2h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "name": "Price Check 2h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 800]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const coins = ['BTC', 'ETH', 'SOL', 'TAO', 'XRP'];\nreturn coins.map(c => ({ json: { symbol: c, symbolPair: c + '/USDT' } }));"
      },
      "name": "Coin List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.taapi.io/bulk",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjk3OGIyZGNhZWVjODgxNjBhNDc0ODFkIiwiaWF0IjoxNzczNjQ4ODE1LCJleHAiOjMzMjc4MTEyODE1fQ.DuKPlzcpTH7BRkLZZ2WRH3YupMM-P7hE9lSx35AzUZA', construct: [{ exchange: 'binancefutures', symbol: $json.symbolPair, interval: '4h', indicators: [ { indicator: 'supertrend', id: 'supertrend_4h' }, { indicator: 'ema', id: 'ema_50_4h', period: 50 }, { indicator: 'macd', id: 'macd_4h_current', optInFastPeriod: 12, optInSlowPeriod: 26, optInSignalPeriod: 9 }, { indicator: 'macd', id: 'macd_4h_prev', optInFastPeriod: 12, optInSlowPeriod: 26, optInSignalPeriod: 9, backtrack: 1 }, { indicator: 'atr', id: 'atr_4h' }, { indicator: 'adx', id: 'adx_4h', period: 14 }, { indicator: 'rsi', id: 'rsi_4h_current', period: 14 }, { indicator: 'rsi', id: 'rsi_4h_prev', period: 14, backtrack: 1 }, { indicator: 'candle', id: 'candle_4h' }, { indicator: 'candle', id: 'candle_4h_prev', backtrack: 1 } ] }] }) }}",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "name": "TAAPI 4H",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.taapi.io/bulk",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ secret: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjk3OGIyZGNhZWVjODgxNjBhNDc0ODFkIiwiaWF0IjoxNzczNjQ4ODE1LCJleHAiOjMzMjc4MTEyODE1fQ.DuKPlzcpTH7BRkLZZ2WRH3YupMM-P7hE9lSx35AzUZA', construct: [{ exchange: 'binancefutures', symbol: $json.symbolPair, interval: '1h', indicators: [ { indicator: 'macd', id: 'macd_1h_current', optInFastPeriod: 12, optInSlowPeriod: 26, optInSignalPeriod: 9 }, { indicator: 'macd', id: 'macd_1h_prev', optInFastPeriod: 12, optInSlowPeriod: 26, optInSignalPeriod: 9, backtrack: 1 }, { indicator: 'atr', id: 'atr_1h' }, { indicator: 'rsi', id: 'rsi_1h_current', period: 14 }, { indicator: 'rsi', id: 'rsi_1h_prev', period: 14, backtrack: 1 }, { indicator: 'cci', id: 'cci_1h', period: 20 }, { indicator: 'adx', id: 'adx_1h', period: 14 } ] }] }) }}",
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "name": "TAAPI 1H",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// DATA PARSER V3\nfunction extractById(batchResponse, id) {\n  if (!batchResponse) return null;\n  const data = batchResponse.data ?? batchResponse;\n  if (!Array.isArray(data)) return null;\n  const entry = data.find(d => d.id === id);\n  return entry?.result ?? null;\n}\n\nfunction safeNum(val) {\n  if (val === null || val === undefined) return null;\n  const n = Number(val);\n  return isNaN(n) ? null : n;\n}\n\nconst items = $input.all();\nlet batch4h = null, batch1h = null;\nfor (const item of items) {\n  const data = item.json?.data ?? item.json;\n  if (!Array.isArray(data)) continue;\n  const ids = data.map(d => d.id).join(',');\n  if (ids.includes('4h')) batch4h = item.json;\n  if (ids.includes('1h')) batch1h = item.json;\n}\n\nconst supertrend4h = extractById(batch4h, 'supertrend_4h');\nconst supertrendDirection = supertrend4h?.valueAdvice?.toUpperCase() ?? null;\nconst ema50 = safeNum(extractById(batch4h, 'ema_50_4h')?.value);\nconst atr4h = safeNum(extractById(batch4h, 'atr_4h')?.value);\n\nconst candle4h = extractById(batch4h, 'candle_4h');\nconst candle4hPrev = extractById(batch4h, 'candle_4h_prev');\nconst currentPrice = safeNum(candle4h?.close);\nconst volume = safeNum(candle4h?.volume);\nconst prevVolume = safeNum(candle4hPrev?.volume);\nconst volumeAbovePrev = (volume !== null && prevVolume !== null && prevVolume > 0) ? volume > prevVolume : null;\n\nconst macd4hCurrent = extractById(batch4h, 'macd_4h_current');\nconst macd4hPrev = extractById(batch4h, 'macd_4h_prev');\nconst macd4h = {\n  value: safeNum(macd4hCurrent?.valueMACD),\n  signal: safeNum(macd4hCurrent?.valueMACDSignal),\n  histogram: safeNum(macd4hCurrent?.valueMACDHist),\n  prevHistogram: safeNum(macd4hPrev?.valueMACDHist),\n  prevValue: safeNum(macd4hPrev?.valueMACD),\n  prevSignal: safeNum(macd4hPrev?.valueMACDSignal)\n};\n\nconst adx4h = safeNum(extractById(batch4h, 'adx_4h')?.adx);\nconst rsi4h = safeNum(extractById(batch4h, 'rsi_4h_current')?.value);\nconst rsi4hPrev = safeNum(extractById(batch4h, 'rsi_4h_prev')?.value);\nconst atrPercent = (atr4h !== null && currentPrice !== null && currentPrice > 0) ? (atr4h / currentPrice * 100) : null;\n\nconst macd1hCurrent = extractById(batch1h, 'macd_1h_current');\nconst macd1hPrev = extractById(batch1h, 'macd_1h_prev');\nconst macd1h = {\n  value: safeNum(macd1hCurrent?.valueMACD),\n  signal: safeNum(macd1hCurrent?.valueMACDSignal),\n  histogram: safeNum(macd1hCurrent?.valueMACDHist),\n  prevHistogram: safeNum(macd1hPrev?.valueMACDHist)\n};\nconst atr1h = safeNum(extractById(batch1h, 'atr_1h')?.value);\nconst rsi1h = safeNum(extractById(batch1h, 'rsi_1h_current')?.value);\nconst rsi1hPrev = safeNum(extractById(batch1h, 'rsi_1h_prev')?.value);\nconst cci1h = safeNum(extractById(batch1h, 'cci_1h')?.value);\nconst adx1h = safeNum(extractById(batch1h, 'adx_1h')?.value);\n\nfunction macdColor(hist, prevHist) {\n  if (hist === null || prevHist === null) return 'UNKNOWN';\n  if (hist > 0 && hist > prevHist) return 'AQUA';\n  if (hist > 0 && hist <= prevHist) return 'BLUE';\n  if (hist <= 0 && hist < prevHist) return 'RED';\n  if (hist <= 0 && hist >= prevHist) return 'MAROON';\n  return 'UNKNOWN';\n}\n\nconst macd4hColor = macdColor(macd4h.histogram, macd4h.prevHistogram);\nconst macd1hColor = macdColor(macd1h.histogram, macd1h.prevHistogram);\n\nconst missingData = [];\nif (!supertrendDirection) missingData.push('supertrend_4h');\nif (ema50 === null) missingData.push('ema50_4h');\nif (macd4h.histogram === null) missingData.push('macd_4h');\nif (macd1h.histogram === null) missingData.push('macd_1h');\nif (atr4h === null) missingData.push('atr_4h');\nif (atr1h === null) missingData.push('atr_1h');\nif (rsi1h === null) missingData.push('rsi_1h');\nif (rsi1hPrev === null) missingData.push('rsi_1h_prev');\nif (cci1h === null) missingData.push('cci_1h');\nif (adx1h === null) missingData.push('adx_1h');\nif (currentPrice === null) missingData.push('current_price');\n\nconst symbolPair = items[0]?.json?.symbolPair || items[0]?.json?.symbol || 'UNKNOWN';\nconst asset = symbolPair.replace('/USDT', '');\n\nreturn [{ json: {\n  asset, currentPrice,\n  timestamp: new Date().toISOString(),\n  supertrend: supertrendDirection,\n  ema50, atr4h, atr1h,\n  volume, prevVolume, volumeAbovePrev,\n  macd4h, macd4hColor, macd1h, macd1hColor,\n  adx4h, rsi4h, rsi4hPrev, atrPercent,\n  rsi1h, rsi1hPrev, cci1h, adx1h,\n  missingData\n} }];"
      },
      "name": "Data Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// SIGNAL ENGINE V3b + SCALP V5\nconst d = $input.first().json;\n\nconst critical = ['supertrend_4h', 'ema50_4h', 'macd_4h', 'macd_1h', 'atr_4h', 'atr_1h', 'rsi_1h', 'rsi_1h_prev', 'cci_1h', 'adx_1h', 'current_price'];\nconst missingCritical = (d.missingData || []).filter(m => critical.includes(m));\nif (missingCritical.length > 0) {\n  return [{ json: { ...d, signal: 'NO_TRADE', signalType: null, signalReason: 'Fehlende Daten: ' + missingCritical.join(', ') } }];\n}\n\nconst price = d.currentPrice;\nconst st = d.supertrend;\nconst ema50 = d.ema50;\nconst volWarning = d.volumeAbovePrev === false;\n\nlet signal = 'NO_TRADE';\nlet signalType = null;\nlet signalReason = '';\n\n// SCALP V5: RSI Momentum Burst\nconst rsi1h = d.rsi1h;\nconst rsi1hPrev = d.rsi1hPrev;\nconst cci1h = d.cci1h;\nconst adx1h = d.adx1h;\n\nif (rsi1h !== null && rsi1hPrev !== null && cci1h !== null && adx1h !== null) {\n  if (rsi1hPrev < 55 && rsi1h >= 55 && cci1h > 0 && adx1h > 20) {\n    signal = 'LONG'; signalType = 'SCALP';\n    signalReason = 'RSI kreuzt 55 auf (' + rsi1hPrev.toFixed(1) + '->' + rsi1h.toFixed(1) + ') CCI(' + cci1h.toFixed(0) + ')>0 ADX(' + adx1h.toFixed(1) + ')>20';\n  }\n  if (rsi1hPrev > 45 && rsi1h <= 45 && cci1h < 0 && adx1h > 20) {\n    signal = 'SHORT'; signalType = 'SCALP';\n    signalReason = 'RSI kreuzt 45 ab (' + rsi1hPrev.toFixed(1) + '->' + rsi1h.toFixed(1) + ') CCI(' + cci1h.toFixed(0) + ')<0 ADX(' + adx1h.toFixed(1) + ')>20';\n  }\n}\n\n// SWING V3b\nif (signal === 'NO_TRADE') {\n  const adx4h = d.adx4h;\n  const rsi4h = d.rsi4h;\n  const macdHist = d.macd4h ? d.macd4h.histogram : null;\n  const macdPrevHist = d.macd4h ? d.macd4h.prevHistogram : null;\n  const atrPct = d.atrPercent;\n\n  if (atrPct !== null && atrPct > 5.0) {\n    signalReason = 'ATR% ' + atrPct.toFixed(1) + '% > 5% zu volatil';\n  } else if (adx4h === null || adx4h < 20) {\n    signalReason = 'ADX(' + (adx4h ? adx4h.toFixed(1) : '?') + ') < 20';\n  } else if (st === 'LONG' && price > ema50 && rsi4h !== null && rsi4h >= 40 && rsi4h <= 65 && macdHist !== null && macdPrevHist !== null && macdHist > macdPrevHist && macdPrevHist <= 0) {\n    signal = 'LONG'; signalType = 'SWING';\n    signalReason = 'ST LONG + >EMA50 + ADX(' + adx4h.toFixed(1) + ') + RSI(' + rsi4h.toFixed(1) + ') + MACD Zero-Cross';\n  } else if (st === 'SHORT' && price < ema50 && rsi4h !== null && rsi4h >= 35 && rsi4h <= 60 && macdHist !== null && macdPrevHist !== null && macdHist < macdPrevHist && macdPrevHist >= 0) {\n    signal = 'SHORT'; signalType = 'SWING';\n    signalReason = 'ST SHORT + <EMA50 + ADX(' + adx4h.toFixed(1) + ') + RSI(' + rsi4h.toFixed(1) + ') + MACD Zero-Cross';\n  }\n\n  if (signal !== 'NO_TRADE' && signalType === 'SWING') {\n    const staticData = $getWorkflowStaticData('global');\n    const lastKey = d.asset + '_' + signal + '_SWING_last';\n    const lastTime = staticData[lastKey] || 0;\n    if (Date.now() - lastTime < 12 * 60 * 60 * 1000) {\n      signalReason = 'Duplikat-Schutz: ' + signal + ' < 12h'; signal = 'NO_TRADE'; signalType = null;\n    } else { staticData[lastKey] = Date.now(); }\n  }\n}\n\nif (signal === 'NO_TRADE' && !signalReason) signalReason = 'Keine Bedingung (ST:' + st + ')';\nreturn [{ json: { ...d, signal, signalType, signalReason: signalReason + (volWarning ? ' (low vol)' : '') } }];"
      },
      "name": "Signal Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ENTRY CALCULATOR V3.5\nconst d = $input.first().json;\nif (d.signal === 'NO_TRADE') return [{ json: { ...d, trade: false } }];\n\nconst price = d.currentPrice;\nconst isLong = d.signal === 'LONG';\nconst isScalp = d.signalType === 'SCALP';\nconst atr = isScalp ? d.atr1h : d.atr4h;\nconst ema50 = d.ema50;\n\nfunction roundPrice(p) {\n  if (!p || isNaN(p)) return null;\n  if (p > 10000) return Math.round(p / 50) * 50;\n  if (p > 1000) return Math.round(p / 10) * 10;\n  if (p > 100) return Math.round(p);\n  if (p > 10) return Math.round(p * 2) / 2;\n  if (p > 1) return Math.round(p * 100) / 100;\n  if (p > 0.01) return Math.round(p * 1000) / 1000;\n  return Math.round(p * 100000) / 100000;\n}\n\nif (!atr || atr <= 0) return [{ json: { ...d, trade: false } }];\n\nlet entry;\nif (isScalp) {\n  entry = isLong ? price - price * 0.0015 : price + price * 0.0015;\n} else {\n  entry = isLong ? price - price * 0.003 : price + price * 0.003;\n  if (ema50) {\n    const dist = Math.abs((ema50 - price) / price);\n    if ((isLong && ema50 < entry && dist <= 0.015) || (!isLong && ema50 > entry && dist <= 0.015)) entry = ema50;\n  }\n}\n\nconst slMult = isScalp ? 1.0 : 1.5;\nconst tp1Mult = isScalp ? 1.5 : 2.0;\nconst tp2Mult = isScalp ? 2.5 : 3.0;\nconst stopLoss = isLong ? entry - slMult * atr : entry + slMult * atr;\nconst tp1 = isLong ? entry + tp1Mult * atr : entry - tp1Mult * atr;\nconst tp2 = isLong ? entry + tp2Mult * atr : entry - tp2Mult * atr;\n\nif (Math.abs(tp1 - entry) <= 0) return [{ json: { ...d, trade: false } }];\n\nreturn [{ json: { ...d, trade: true, setup: { type: d.signalType, direction: d.signal, entry: roundPrice(entry), stopLoss: roundPrice(stopLoss), tp1: roundPrice(tp1), tp2: roundPrice(tp2), leverage: isScalp ? 3 : 2, atrUsed: Math.round(atr * 100) / 100 } } }];"
      },
      "name": "Entry Calculator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.trade }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "name": "Has Trade?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// SAVE TO SUPABASE signal_tracker\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmb3piYWRodWdkcGF1a3Z2aXRtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU3Nzc5NCwiZXhwIjoyMDkwMTUzNzk0fQ.av7188oiVd-viUAHQDhzb7H7xeHUV5x00NkUph3WWa4';\n\nconst d = $input.first().json;\nconst s = d.setup;\nconst isScalp = s.type === 'SCALP';\nconst expiresAt = new Date(Date.now() + (isScalp ? 1 : 48) * 60 * 60 * 1000).toISOString();\n\ntry {\n  const resp = await fetch('https://ufozbadhugdpaukvvitm.supabase.co/rest/v1/signal_tracker', {\n    method: 'POST',\n    headers: {\n      'apikey': SUPABASE_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation'\n    },\n    body: JSON.stringify({\n      coin: d.asset,\n      direction: s.direction,\n      signal_type: s.type,\n      entry_price: s.entry,\n      tp1_price: s.tp1,\n      tp2_price: s.tp2 || s.tp1,\n      sl_price: s.stopLoss,\n      current_price: d.currentPrice,\n      leverage: s.leverage,\n      atr_used: s.atrUsed,\n      signal_reason: d.signalReason,\n      status: 'ACTIVE',\n      expires_at: expiresAt\n    })\n  });\n  const result = await resp.json();\n  return [{ json: { saved: true, signal: result, asset: d.asset, type: s.type, direction: s.direction } }];\n} catch(e) {\n  return [{ json: { saved: false, error: e.message, asset: d.asset } }];\n}"
      },
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// PRICE CHECK - Check active signals in signal_tracker\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmb3piYWRodWdkcGF1a3Z2aXRtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU3Nzc5NCwiZXhwIjoyMDkwMTUzNzk0fQ.av7188oiVd-viUAHQDhzb7H7xeHUV5x00NkUph3WWa4';\nconst TAAPI_SECRET = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHVlIjoiNjk3OGIyZGNhZWVjODgxNjBhNDc0ODFkIiwiaWF0IjoxNzczNjQ4ODE1LCJleHAiOjMzMjc4MTEyODE1fQ.DuKPlzcpTH7BRkLZZ2WRH3YupMM-P7hE9lSx35AzUZA';\n\nconst closedTrades = [];\nconst errors = [];\n\nlet trades = [];\ntry {\n  const resp = await fetch('https://ufozbadhugdpaukvvitm.supabase.co/rest/v1/signal_tracker?or=(status.eq.ACTIVE,status.eq.TP1_HIT)&order=created_at.desc', {\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY }\n  });\n  trades = await resp.json();\n  if (!Array.isArray(trades)) { errors.push('Supabase: ' + JSON.stringify(trades).substring(0, 200)); trades = []; }\n} catch(e) { errors.push('Supabase: ' + e.message); }\n\nif (trades.length === 0) {\n  return [{ json: { message: 'Keine offenen Trades', closedTrades: [], errors } }];\n}\n\nconst uniqueCoins = [...new Set(trades.map(t => t.coin))];\nconst priceMap = {};\n\nfor (const coin of uniqueCoins) {\n  try {\n    const resp = await fetch('https://api.taapi.io/candle?secret=' + TAAPI_SECRET + '&exchange=binancefutures&symbol=' + coin + '/USDT&interval=1h');\n    const data = await resp.json();\n    if (data.close) priceMap[coin] = { close: data.close, high: data.high, low: data.low };\n    else errors.push('No price: ' + coin);\n    await new Promise(r => setTimeout(r, 500));\n  } catch(e) { errors.push(coin + ': ' + e.message); }\n}\n\nfor (const trade of trades) {\n  const p = priceMap[trade.coin];\n  if (!p) continue;\n\n  const isLong = trade.direction === 'LONG';\n  let newStatus = null;\n\n  if (isLong && p.low <= trade.sl_price) newStatus = 'SL_HIT';\n  if (!isLong && p.high >= trade.sl_price) newStatus = 'SL_HIT';\n\n  if (!newStatus && trade.status === 'TP1_HIT') {\n    if (isLong && p.high >= trade.tp2_price) newStatus = 'TP2_HIT';\n    if (!isLong && p.low <= trade.tp2_price) newStatus = 'TP2_HIT';\n  }\n\n  if (!newStatus && trade.status === 'ACTIVE') {\n    if (isLong && p.high >= trade.tp1_price) newStatus = 'TP1_HIT';\n    if (!isLong && p.low <= trade.tp1_price) newStatus = 'TP1_HIT';\n  }\n\n  if (!newStatus && new Date() > new Date(trade.expires_at)) newStatus = 'EXPIRED';\n\n  if (newStatus) {\n    let pnl = 0;\n    const entry = trade.entry_price;\n    const lev = trade.leverage || 2;\n\n    if (newStatus === 'TP1_HIT') pnl = Math.abs(trade.tp1_price - entry) / entry * 100 * lev * 0.6;\n    else if (newStatus === 'TP2_HIT') {\n      pnl = Math.abs(trade.tp1_price - entry) / entry * 100 * lev * 0.6 + Math.abs(trade.tp2_price - entry) / entry * 100 * lev * 0.4;\n    } else if (newStatus === 'SL_HIT') pnl = -(Math.abs(trade.sl_price - entry) / entry * 100 * lev);\n\n    const updateData = { status: newStatus, pnl_pct: Math.round(pnl * 100) / 100 };\n    if (newStatus === 'TP1_HIT') updateData.tp1_hit_at = new Date().toISOString();\n    if (newStatus === 'TP2_HIT') updateData.tp2_hit_at = new Date().toISOString();\n    if (newStatus !== 'TP1_HIT') updateData.resolved_at = new Date().toISOString();\n\n    try {\n      await fetch('https://ufozbadhugdpaukvvitm.supabase.co/rest/v1/signal_tracker?id=eq.' + trade.id, {\n        method: 'PATCH',\n        headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n        body: JSON.stringify(updateData)\n      });\n    } catch(e) { errors.push('PATCH ' + trade.id + ': ' + e.message); }\n\n    closedTrades.push({ coin: trade.coin, dir: trade.direction, type: trade.signal_type, status: newStatus, pnl: pnl.toFixed(2) + '%' });\n  }\n}\n\nreturn [{ json: { closedTrades, openCount: trades.length - closedTrades.length, errors } }];"
      },
      "name": "Price Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 800]
    }
  ],
  "connections": {
    "Signal Generation 2h": {
      "main": [[{ "node": "Coin List", "type": "main", "index": 0 }]]
    },
    "Price Check 2h": {
      "main": [[{ "node": "Price Check", "type": "main", "index": 0 }]]
    },
    "Coin List": {
      "main": [[
        { "node": "TAAPI 4H", "type": "main", "index": 0 },
        { "node": "TAAPI 1H", "type": "main", "index": 0 }
      ]]
    },
    "TAAPI 4H": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 0 }]]
    },
    "TAAPI 1H": {
      "main": [[{ "node": "Merge Data", "type": "main", "index": 1 }]]
    },
    "Merge Data": {
      "main": [[{ "node": "Data Parser", "type": "main", "index": 0 }]]
    },
    "Data Parser": {
      "main": [[{ "node": "Signal Engine", "type": "main", "index": 0 }]]
    },
    "Signal Engine": {
      "main": [[{ "node": "Entry Calculator", "type": "main", "index": 0 }]]
    },
    "Entry Calculator": {
      "main": [[{ "node": "Has Trade?", "type": "main", "index": 0 }]]
    },
    "Has Trade?": {
      "main": [
        [{ "node": "Save to Supabase", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
